@mixin sp-layout {
    @media screen and (max-width: 750px) {
        @content;
    }
}

body {
    background: radial-gradient(ellipse at bottom, #ff00b3 0%, #51ff00 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

*{
color:red;
    font-size:50px;
}

.bg1{
position: relative;
display: flex;
top: 25%;
left: 0.5%;
border: solid 2px red;

background-color: black;
width: 99%;
height: 400px;
padding: 18px;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fld-1 {
    position: relative;
    margin: 10px;
    float: left;
    width: 790px;
    border-radius: 7px;
    height: auto;
    border: solid 1.5px black;
    padding: 10px;
    margin: 20px;
    background-color: rgb(73, 73, 73);
}

::-webkit-scrollbar {
    width: 0px;
}
