body {
    font-family: arial;
    color: snow;
    font-size: 20px;
    background-color: rgb(54, 54, 54);
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px#000;
}

* {
    color: snow;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px#000;
}

.bg1 {
    height: 45px;
    background-color: rgb(40, 40, 40);
    border-bottom: solid rgb(255, 60, 60) 1.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.page {
    text-align: center;
    background-color: red;
}

.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    margin-left: 44%;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.lists {
    position: relative;
    margin-left: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 7px;
    width: 635px;
}

.lists2 {
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 7px;
    margin-left: 30%;
    /* max-width: 450px; */
    margin: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

.navitem {
    position: relative;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    padding: 4px 25px 4px 25px;
    margin: 8px;
    color: snow;
    align-items: center;
    outline: none;
    text-decoration: none;
}

.navitem:hover {
    background-color: rgb(197, 49, 49);
}

.active,
.btn:hover {
    background-color: rgb(55, 214, 55);
    color: white;
}